body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.admin-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #333;
  color: white;
  height: 100vh;
  padding: 20px;
}

/* .nav-item:hover {
  width: 250px;
  background: #d33434;
  color: white;
  transition: background-color 0.2s ease;
} */
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

/* Main Content */
.main-content {
  flex: 1;
  background: #f4f4f4;
}
header {
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.card {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  background-color: #4bb37f;
  color: black;
  /* margin-left: 250px; */
  /* border-radius: */
}

.nav-link:active {
  background-color: #894bb3;
  color: rgb(226, 102, 102);
}

.nav-link[aria-expanded="true"] .fa-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.nav-link[aria-expanded="false"] .fa-chevron-down {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.nav-item {
  color: white;
  text-decoration: none;
  list-style: none;
}

a.sub-list {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

a.sub-list:hover {
  color: rgb(39, 176, 185);
  text-decoration: none;
  font-size: 13px;
}

.test {
  color: red;
}
